GridBackground {
    --grid-background-color: rgb(43, 43, 43);
    --line-color: rgba(50, 50, 50, 0.4);
    --thick-line-color: rgb(50, 50, 50);
    --spacing: 25;
}

.Action #title {
    background-color: rgba(197, 59, 59, 0.82);
}

.Composite #title {
    background-color: rgba(59, 75, 197, 0.82);
}

.Decorator #title {
    background-color: rgba(37, 118, 26, 0.82);
}

.Condition #title {
    background-color: rgba(128, 121, 22, 0.82);
}
